@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #C0C0C0;
    --cor-background: #00030C;
    --cor-botao: #167BF7;
    --cor-botao-azul-efeito: #3c92fa;

    --fonte-principal: "Inter", sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

.lista__link a:active{
    color: var(--cor-botao-azul-efeito);
}

.lista__link a:hover{
    color: var(--cor-botao);
}

.container__botao:hover{
    color: var(--cor-background);
    background-color: var(--cor-botao-azul-efeito);
    font-weight: 400;
}

body {
    background-color: var(--cor-background);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-primaria);
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao{
    text-decoration: none;
    background-color: var(--cor-botao);
    color: var(--cor-primaria);
    border-radius: 8px;
    padding: 1em;
    display: block;
    margin-bottom: 1em;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--cor-primaria);
}

.apresentacao{
    background-image: url("/assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    font-family: var(--fonte-principal);
    align-items: center;
    text-align: center;
}
.apresentacao__titulo{
    color: var(--cor-primaria);
    font-size: 28px;
    font-weight: 700;
}

.container__aviso{
    color: var(--cor-secundaria);
    font-size: 12px;
}

.apresentacao__imagem{
    margin: 1em 0 2em 0;
}

.container__caixa{
    margin: 0 6em;
}

.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.1em;
}

.descricao__paragrafo{
    color: var(--cor-secundaria);
}

.terciario{
    align-items: center;
    margin: 0 6em;
}

.secundario__botao{
    display:inline-block;
    margin-top: 1em;
}

.descricao{
    padding: 2em;
}

.dispositivos{
    text-align: center;
}

.dispositivos__lista{ /*é uma unordered list*/
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--cor-primaria);
}

.lista__item{
    font-size: 32px;
    color: var(--cor-primaria);
}

.rodape{
    margin: 10em 0 4em 0;
    text-align: center;
}

.rodape__links{
    display: flex;
    justify-content: center;
    gap: 0.5em;
    list-style-type: none;
    margin: 2em;
}

.rodape__texto{
    margin: 2em;
    font-size: 14px;
    color: var(--cor-secundaria);
    font-weight: 400;
}

.lista__link a{
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: 16px;
    font-weight: 400;
}